<md-list-item class="md-3-line" ng-click="ctrl.irGrupo()">
  <md-icon>category</md-icon>
  <div class="md-list-item-text" layout="column">
    <h3>Grupo</h3>
    <p>Confere maior organização ao cadastro de produto.</p>
  </div>
</md-list-item>
<md-divider></md-divider>

<md-list-item class="md-3-line" ng-click="ctrl.irSubgrupo()">
  <md-icon>group_work</md-icon>
  <div class="md-list-item-text" layout="column">
    <h3>Subgrupo</h3>
    <p>Confere maior organização ao cadastro de produto.</p>
  </div>
</md-list-item>

<md-divider></md-divider>
<md-list-item class="md-3-line" ng-click="null">
  <md-icon>account_balance</md-icon>
  <div class="md-list-item-text" layout="column">
    <h3>Tributos</h3>
    <p>COnfigure as tributações para inserir nos produtos.</p>
  </div>
</md-list-item>
<md-divider></md-divider>
<md-list-item class="md-3-line" ng-click="null">
  <md-icon>local_mall</md-icon>
  <div class="md-list-item-text" layout="column">
    <h3>Produto</h3>
    <p>Crie sua grade de produtos.</p>
  </div>
</md-list-item>
<md-divider></md-divider>
<md-list-item class="md-3-line" ng-click="null">
  <md-icon>emoji_people</md-icon>
  <div class="md-list-item-text" layout="column">
    <h3>Cliente</h3>
    <p>Adicione novos clientes na sua carteira</p>
  </div>
</md-list-item>