<div class="form-content">
  <md-toolbar>
    <div class="md-toolbar-tools ">
      <md-button aria-label="Go Back" ng-click="ctrl.back()">
          <md-icon>arrow_back</md-icon>
      </md-button>
      <h2 flex md-truncate>Stastics View</h2>
    </div>
  </md-toolbar>

  <div ng-show="false" layout="row" layout-align="center center">
    <md-progress-circular md-mode="indeterminate" md-diameter="96" ></md-progress-circular>          
  </div> 
  
  <div ng-show="true" flex="noshrink" class="docs-ng-view  ng-scope flex-noshrink content-main" cache-scroll-position="">
    <div class="doc-content theming ng-scope">
      <br />

      
      <div layout-wrap layout-margin  layout-align="center" layout="row">       
        
        <md-card ng-if="true">     
          
          <highchart  flex id="chart1" config="ctrl.chart1"></highchart>  
        </md-card>

        <md-card ng-if="true">
           <highchart  flex id="chart2" config="ctrl.chart2"></highchart>
        </md-card>

        <md-card>
           <highchart  flex id="chart3" config="ctrl.chart3"></highchart> 
        </md-card>

        <md-card >
           <highchart  flex id="chart4" config="ctrl.chart4"></highchart> 
        </md-card>

      </div>
    </div>
  </div>
</div>