<div class="form-content">

  <md-toolbar>
    <div class="md-toolbar-tools ">
      <md-button aria-label="Go Back" ng-click="ctrl.back()">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <h2 flex md-truncate>Sprint View</h2>
      <!-- <md-button class="md-raised md-accent md-hue-3" aria-label="Learn More">
        Learn More
      </md-button> -->
      <!-- <md-button class="md-fab md-mini md-hue-3 md-primary" aria-label="Favorite" ng-click="ctrl.showConfirm()">
        <md-icon>delete_forever</md-icon>
      </md-button> -->
    </div>
  </md-toolbar>

  <div ng-view="" flex="noshrink" class="docs-ng-view  ng-scope flex-noshrink content-main" cache-scroll-position="">
    <div class="doc-content theming ng-scope">

      <div  layout-wrap layout-margin layout-align="center" layout="row">
        <div ng-repeat="teste in '123456790'" ng-click="ctrl.irPara($index)">


          <md-card >
            <md-card-content>
              <h4>Adicionado funcionalidade  </h4> 
              <p>  buscando usuario no contas a receber </p>
              <p class="dracula-4"> <md-icon>person_pin</md-icon> <i>Fernando Dutra </i> </p>
              <!-- <p>Card content</p> -->
            </md-card-content>
            <md-card-footer layout="row" layout-padding layout-align="space-between end">
              <md-button class="dracula-1"> Peso: 16</md-button>     <md-button class="dracula-2" >Peso: 16</md-button> <md-button class="dracula-3" >Peso: 16</md-button>
            </md-card-footer>
          </md-card>
        </div>
      </div>

      <!-- <md-button ng-click="ctrl.showConfirm()"
        class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling fixed"
        aria-label="Add a category" docs-scroll-class="scrolling">
        <md-icon>add</md-icon>
      </md-button> -->

    </div>
    <!-- <md-button ng-click="ctrl.salvar()" class="md-raised button-footer md-primary">
      <md-icon>check</md-icon>
      todos
    </md-button> -->


  </div>