<div class="form-content">

  <md-toolbar>
    <div class="md-toolbar-tools ">
      <md-button aria-label="Go Back" ng-click="ctrl.back()">
        <md-icon>arrow_back</md-icon>
      </md-button>
      <h2 flex md-truncate>Sprint View</h2>
      <!-- <md-button class="md-raised md-accent md-hue-3" aria-label="Learn More">
        Learn More
      </md-button> -->
      <!-- <md-button class="md-fab md-mini md-hue-3 md-primary" aria-label="Favorite" ng-click="ctrl.showConfirm()">
        <md-icon>delete_forever</md-icon>
      </md-button> -->
    </div>
  </md-toolbar>

  <div ng-view="" flex="noshrink" class="docs-ng-view  ng-scope flex-noshrink content-main" cache-scroll-position="">
    <div class="doc-content theming ng-scope">

      <div layout-wrap layout-margin layout-align="center" layout="row">
        <div ng-repeat="card in ctrl.cards" ng-click="ctrl.irPara($index)">

          <md-card class="card-sprint">
            <div layout="row" layout-align="space-between center">
              <!-- {{card.situacao}} -->

              <div ng-if="card.situacao == 'Backlog'" class="situacao-sprint-backlog">Backlog</div>
              <div ng-if="card.situacao == 'Andamento' " class="situacao-sprint-andamento">Andamento</div>
              <div ng-if="card.situacao == 'Concluido'" class="situacao-sprint-concluido">Concluido</div>
              <md-button ng-click="ctrl.irLinkTrello(card.link)" class="md-icon-button">
                <md-icon>dashboard</md-icon>
              </md-button>

              <!-- <md-icon>hourglass_full</md-icon> -->

            </div>
            <md-card-content class="card-content">
              <!-- <h4 class="dracula-1">Teste  </h4>  -->
              <p> {{card.titulo}} </p>
              <p class="dracula-4">
              </p>
              <!-- <p>Card content</p> -->
            </md-card-content>

            <md-card-footer class="card-content" layout="column">
              <div layout-align="space-between start" layout="column">

                <span ng-repeat="membro in card.participantes">
                  <md-icon>person_pin</md-icon> <i>{{membro.nome}}</i>
                </span>
                <!-- <md-button ng-if="card.peso" class="dracula-3">Peso: {{card.peso}} </md-button> -->

                

                <span  class="font-footer-peso">
                  <md-icon style="color: rgb(12, 123, 250); font-size: 18px; height: 18px;">extension</md-icon> <strong> Peso: </strong>{{card.peso | number:2}}
                </span>

              </div>

              <div layout-align="space-between center" layout="row" class="icon-footer">
                <span class="font-footer">
                  <md-icon style="font-size: 18px; height: 18px;">open_in_new</md-icon> <strong>Tamanho:</strong> {{card.tamanho}}
                </span>
                <span class="font-footer">
                  <md-icon style="font-size: 18px; height: 18px;">hourglass_full</md-icon><strong>Complexidade:</strong> {{card.complexidade}}
                </span>
              </div>

              </md-card-foote>
          </md-card>
        </div>
      </div>

      <!-- <md-button ng-click="ctrl.showConfirm()"
        class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling fixed"
        aria-label="Add a category" docs-scroll-class="scrolling">
        <md-icon>add</md-icon>
      </md-button> -->

    </div>
    <!-- <md-button ng-click="ctrl.salvar()" class="md-raised button-footer md-primary">
      <md-icon>check</md-icon>
      todos
    </md-button> -->


  </div>