
<md-card>
  <!-- <img src="card-image.png" class="md-card-image" alt="image caption"> -->
  <md-card-content>
    <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">
    </canvas>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button>Action 1</md-button>
    <md-button>Action 2</md-button>
  </md-card-actions>
</md-card>

<md-card>
  <!-- <img src="card-image.png" class="md-card-image" alt="image caption"> -->
  <md-card-content>
    <canvas id="base" class="chart-horizontal-bar"
    chart-data="data" chart-labels="labels" >
  </canvas> 
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <md-button>Action 1</md-button>
    <md-button>Action 2</md-button>
  </md-card-actions>
</md-card>
