@use "angular-material/angular-material.css";

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background: #2196f3; 
    // background:  #e5e8e8 ;
    font: black;
    background: #44475a;



}

.container {
    display: grid;
    grid-template-columns: 1fr;
    // grid-template-rows: 100vh;
    grid-template-areas: "m m";
}

header {
    grid-area: h;
}

#main {
    grid-area: m;
}

// aside {
//     background: green;    
//    grid-area: a;
// }


.login {
    display: grid;
    justify-items: center;
    align-items: center;
}

.login-card {
    display: flex;
    flex-direction: column;
    // max-width: 400px;
}

.login-card md-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-card .button-confirme {
    align-self: center;
    min-width: 100px;
}

.md-fab.docs-scroll-fab {
    position: fixed !important;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
}

.docs-scroll-fab.scrolling {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7vh 93vh;
    grid-template-areas: "t""m";
}

.form-content md-toolbar {
    grid-area: t;

}

.form-content .content-main {
    grid-area: 'm';
    margin-top: 5px;

}

md-card {
    min-width: 250px;
    max-width: 305px;
    min-height: 300px;
}

.dracula-1 {
    color: #8be9fd;
}

.dracula-2 {
    color: #50fa7b;
}

.dracula-3 {
    color: #ff79c6;
}

.dracula-4 {
    color: #aeb6bf;
}

.situacao-sprint-concluido {
    background: green;
    color: #fff;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    font-weight: bolder;
}

.situacao-sprint-andamento {
    background: #039BE5;
    color: #fff;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    font-weight: bolder;
}

.situacao-sprint-backlog {
    background: rgb(215, 217, 236);
    color: black;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    font-weight: bolder;
}

md-card-content h2 {
    font-size: 30px;
    background: -webkit-linear-gradient(#8be9fd, #6272a4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-footer {
    font-size: 13px;
}

.font-footer-peso {
    padding-top: 10px;
    color: rgb(12, 123, 250);
    font-size: 13px;
}