<div class="form-content">

  <md-toolbar>
    <div class="md-toolbar-tools ">
      <md-button aria-label="Go Back" ng-click="ctrl.back()">
      </md-button>
      <h2 flex md-truncate>Sprint View</h2>
    </div>
  </md-toolbar>

  <div ng-view="" flex="noshrink" class="docs-ng-view  ng-scope flex-noshrink content-main" cache-scroll-position="">
    <div class="doc-content theming ng-scope">
      <div layout-wrap style="padding: 25px " layout-align="center" layout="row" ng-show="ctrl.sprints.length">
        <div ng-repeat="sprint in ctrl.sprints | reverse">
          <md-card>

            <div style="margin-bottom: 10px;" layout="row" layout-align="space-between stretch">
              <div>
                <md-icon style="font-size: 50px;">date_range </md-icon>

              </div>
              <div layout="column" layout-align="start">

                <span style="font-size: 30px; font-style:initial;">
                  {{sprint.titulo}}
                </span>
                <span>
                  {{sprint.pesoTotal}} Pontos
                </span>

              </div>
              <md-menu>
                <!-- Trigger element is a md-button with an icon -->
                <md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open sample menu">
                  <md-icon>more_vert</md-icon>
                </md-button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click="ctrl.irLinkTrello(sprint.link)">Ir para o Trello</md-button>
                  </md-menu-item>

                </md-menu-content>
              </md-menu>
            </div>

            <md-card-content style="background: #eaeded ;">

              <div ng-if="sprint.status != 'aberto'" layout="row" layout-align="space-around center" layout-margin>
                <div class="round media" layout-wrap>
                  <div class="titulo">{{sprint.mediaDev | number: 2}}</div>
                  <div class="sub-titulo">Média dev</div>
                </div>
                <div class="round pontos">
                  <div class="titulo">{{sprint.pesoTotal}}</div>
                  <div class="sub-titulo">Pontos</div>
                </div>
              </div>

              <canvas ng-if="sprint.status == 'aberto'" id="bar" class="chart chart-bar" chart-colors="ctrl.color" chart-options="ctrl.config"
                chart-data="sprint.totalcards" chart-labels="ctrl.labels" chart-dataset-override="ctrl.legends"
                chart-legend="true">
              </canvas>

              <div layout="row" layout-align="space-between end">
                <span>
                  <strong>
                    {{sprint.membros}} Participantes
                  </strong>
                </span>
                <span style="font-size: 13px;">{{sprint.updateAt}} </span>

              </div>
              <div layout="row" style="padding-top: 8px ; font-size: 13px;" layout-align="start">
                <span style="padding-right: 5px;">
                  {{sprint.tarefas}} tarefas,
                </span>
                <span> {{sprint.mediaTarefa | number : 2}} Média</span>
              </div>
            </md-card-content>
            <md-card-footer layout="row" layout-align="space-between end">
              <md-button ng-click="ctrl.irPara(sprint.titulo)"> Ver </md-button>
              <md-button ng-click="ctrl.irStatics(sprint.titulo)"> Estatísticas </md-button>
            </md-card-footer>
          </md-card>
        </div>
      </div>

      <div layout-margin layout-padding layout-align="center" layout="row" ng-show="!ctrl.sprints.length">
        <md-button ng-click="ctrl.showConfirm()" class="md-raised md-primary">Adicionar Sprint</md-button>
      </div>

      <md-button ng-click="ctrl.showConfirm()"
        class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling fixed"
        aria-label="Add a category" docs-scroll-class="scrolling">
        <md-icon>add</md-icon>
      </md-button>
    </div>
  </div>