<div class="form-content">

  <md-toolbar>
    <div class="md-toolbar-tools ">
      <md-button aria-label="Go Back" ng-click="ctrl.back()">
        <!-- <md-icon>arrow_back</md-icon> -->
      </md-button>
      <h2 flex md-truncate>Sprint View</h2>
      <!-- <md-button class="md-raised md-accent md-hue-3" aria-label="Learn More">
        Learn More
      </md-button> -->
      <md-button class="md-fab md-mini md-hue-3 md-primary" aria-label="Favorite" ng-click="ctrl.showConfirm()">
        <md-icon>delete_forever</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <div ng-view="" flex="noshrink" class="docs-ng-view  ng-scope flex-noshrink content-main" cache-scroll-position="">
    <div class="doc-content theming ng-scope">

      <div   layout-xs layout-wrap layout-padding layout-margin layout-align="center" layout="row">
        <md-card ng-repeat="teste in '12'"  >
          <!-- <img src="card-image.png" class="md-card-image" alt="image caption"> -->         

          <md-card-content>
            <h2>Sprint-21</h2>
            
            <!-- <p>Card content</p> -->
          </md-card-content >
          <md-card-footer layout="row"    layout-padding   layout-align="space-between end">
            <i style="color:#bd93f9" >25 tarefas</i>   <i style="color: #50fa7b;">5 Membros</i>
          </md-card-footer>
        </md-card>



        </md-card>
      </div>



      <md-button class="md-fab md-fab-bottom-right docs-scroll-fab md-button md-ink-ripple scrolling fixed"
        aria-label="Add a category" docs-scroll-class="scrolling" ng-click="ctrl.adicionar()">
        <md-icon>add</md-icon>
      </md-button>

    </div>
    <!-- <md-button ng-click="ctrl.salvar()" class="md-raised button-footer md-primary">
      <md-icon>check</md-icon>
      todos
    </md-button> -->


  </div>